<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>urls</key>
	<array>
		<dict>
			<key>urlType</key>
			<string>currentAllStates</string>
			<key>base</key>
			<string>https://covidtracking.com/api/v1/states/current.json</string>
		</dict>
        <dict>
            <key>urlType</key>
            <string>currentStateBase</string>
            <key>base</key>
            <string>https://covidtracking.com/api/v1/states/{STATE}/current.json</string>
        </dict>
        <dict>
            <key>urlType</key>
            <string>dailyAllStates</string>
            <key>base</key>
            <string>https://covidtracking.com/api/v1/states/daily.json</string>
        </dict>
        <dict>
            <key>urlType</key>
            <string>dailyStateBase</string>
            <key>base</key>
            <string>https://covidtracking.com/api/v1/states/{STATE}/daily.json</string>
        </dict>
        <dict>
            <key>urlType</key>
            <string>infoAllStates</string>
            <key>base</key>
            <string>https://covidtracking.com/api/v1/states/info.json</string>
        </dict>
        <dict>
            <key>urlType</key>
            <string>infoStateBase</string>
            <key>base</key>
            <string>https://covidtracking.com/api/v1/states/{STATE}/info.json</string>
        </dict>
        <dict>
            <key>urlType</key>
            <string>currentUS</string>
            <key>base</key>
            <string>https://covidtracking.com/api/v1/us/current.json</string>
        </dict>
        <dict>
            <key>urlType</key>
            <string>dailyUS</string>
            <key>base</key>
            <string>https://covidtracking.com/api/v1/us/daily.json</string>
        </dict>
		<dict>
			<key>urlType</key>
			<string>casesOverview</string>
			<key>base</key>
			<string>https://services1.arcgis.com/0MSEUqKaxRlEPj5g/arcgis/rest/services/ncov_cases/FeatureServer/1/query?f=json&amp;where=Confirmed%20%3E%200&amp;returnGeometry=false&amp;spatialRel=esriSpatialRelIntersects&amp;outFields=*&amp;orderByFields=Confirmed%20desc%2CCountry_Region%20asc%2CProvince_State%20asc&amp;resultOffset=0&amp;resultRecordCount=500&amp;cacheHint=false&amp;rnd=8551913528065698262</string>
		</dict>
		<dict>
			<key>urlType</key>
			<string>casesDetail</string>
			<key>base</key>
			<string>https://services9.arcgis.com/N9p5hsImWXAccRNI/arcgis/rest/services/Nc2JKvYFoAEOFCG5JSI6/FeatureServer/3/query?f=json&amp;returnGeometry=false&amp;outFields=*&amp;orderByFields=People_Hospitalized%20desc&amp;resultOffset=0&amp;cacheHint=true</string>
		</dict>
	</array>
</dict>
</plist>
